@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color:rgb(132, 224, 193);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    position: fixed;
    z-index: 1;
}

.header h1 {
    font-size: 45px;
    font-weight: bolder;
}

.header .navbar a {
    margin: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.header .navbar a:hover {
    color: red;
}

.header .sam1 a {
    text-decoration: none;
}

.header .sam1 a:hover {
    color: red;
}

.container {
    width: 100%;
    height: 700px;
    position: relative;
}

.container h1 {
    position: absolute;
    top: 230px;
    left: 43px;
    color: rgb(60, 60, 128);
    font-size: 60px;
}

.container p {
    position: absolute;
    top: 350px;
    left: 370px;
    height: 100px;
    width: 650px;
    text-align: center;
    font-size: 18px;
}

.para {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgb(217, 211, 211);
}

.para div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.para .btn {
    background-color: rgb(78, 78, 188);
    height: 40px;
    width: 130px;
    font-size: 17px;
    font-weight: bolder;
}

.para a {
    text-decoration: none;
    color: black;
}

.para a:hover {
    color: white;
}

.sample {
    position: relative;
    height: 130px;
}

.sample h4 {
    position: absolute;
    top: 50px;
    left: 600px;
    color: blue;
}

.sample h1 {
    position: absolute;
    top: 70px;
    left: 570px;
    color: rgb(37, 37, 192);
}

.outbox {
    height: 250px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.outbox div {
    border: 1px solid black;
    height: 150px;
    width: 320px;
}

.outbox a {
    text-decoration: none;
    color: black;
}

.outbox a:hover {
    color: red;
}

.outbox1 {
    height: 200px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.outbox1 div {
    border: 1px solid black;
    height: 150px;
    width: 320px;
}

.outbox1 a {
    text-decoration: none;
    color: black;
}

.outbox1 a:hover {
    color: red;
}

.pin {
    background-color:rgb(125, 125, 65);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.pin h1 {
    font-size: 45px;
    font-weight: bolder;
}

.pin .navi a {
    margin: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.pin .navi a:hover {
    color: red;
}